# OSX
#
.DS_Store

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# Build directories
#
build/

# iOS artifacts
#
*.hmap
*.ipa

# Android artifacts
#
.gradle
local.properties

# BUCK
buck-out/
\.buckd/
*.keystore